.code{
    font-family: 'Source Code Pro', monospace;
}

#informations{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#informations-button{
    width: 30%;
    padding:.5rem;
    border-radius: 10%;

    color: black;
    background-color: whitesmoke;

    cursor: pointer;
}

#informations-button:hover{
    opacity: .8;
}

li{
    cursor: default;
}

.not-list{
    list-style: none;
}

.red{
    color: #d84949;
}

.orange{
    color: #d48a00;
}

.yellow{
    color: #dada02;
}

.green{
    color: #04ac04;
}